<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.get_set_go">
    <!-- for permissions from user while using the app -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/LoginPage"
            android:windowSoftInputMode="adjustResize">

            <!-- removed intent-filter from here and pasted it in the signup page so that it opens first when we open the app ( !!! if we are not using the fragments) -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- we should add all the extra activities we created here inorder for the app to run -->
        <activity
            android:name=".SecondActivity"
            android:exported="false"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ThirdActivity"
            android:exported="false"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>